@model GestionArticles.Models.Ville

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer ville</h2>

<h3>voulez vous vraiment supprimer cette ville?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Villes",FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
